
        html{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            display: grid;
            grid-template-columns:minmax(200px, 1fr); /* auto를 사용하면 그리드의 셀의 크기가 내부 요소에 맞춰지기 때문에 줄어들지 않아 flex-wrap이 동작하지 않는다. 하지만 minmax는 최소값과 최대값을 지정할 수 있어 콘텐츠의 크기와 상관없이 동작한다.*/ 
            grid-template-rows: 100px auto 200px;
            grid-template-areas: 
                    'header '
                    'main '
                    'footer';
            height: 100%;
            margin: 0;
            padding: 0;
        }

        header{
            background-color: blanchedalmond;
            grid-area: header;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

        header > div {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        
        @media  screen and (max-width:1000px) {
            #secondHeadText{
                display: none;
            }
        }

        main{
            
            padding-top: 50px;
            margin-left: 25px;
            margin-right: 25px;
            grid-area: main;
            
        }

        #largeTitle{
            font-size: 30pt;
            text-align: center;
            padding-bottom: 10px ;
        }

        #smallTitle{
            font-size: 13pt;
            text-align: center;
            padding-bottom: 10px ;
        }
        

        #signUpBox{
            display: flex;
            padding-top: 50px;
            padding-bottom: 50px;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            overflow: hidden;
            background-color: lightgrey;
            border-top: 2px solid black;
            
            
            
        }

        #signUpOptionBox{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height:150px;
            }

        @media screen and (max-width:807px){
            #signUpOptionBox{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height:150px;
                border-top: 1px solid black;
                margin-top: 20px;
                width: 400px;
                align-items: center;
            }
        }

        #signUpOptionBox div{
            height: 50px;
            width: 200px;
            border: 1px solid black;
            background-color: aqua;
        }

        
        #signUpInputBox{
            display: flex;
            flex-direction: column;
            
        }

        .typingBox{
            height: 40px;
            width: 300px;
            margin-top: 2.5px;
            margin-bottom: 2.5px;

        }

        @media screen and (max-width:1300px){
            .typingBox{
                width: 350px;
                
            }
        }

        @media screen and (max-width:1200px){
            .typingBox{
                width: 280px;
                
            }
        }
        
        @media screen and (max-width:900px){
            .typingBox{
                width: 350px;
                
            }
        }

        #signUpBtn{
            width: 308px;
            height: 50px;
        }

        @media screen and (max-width:1300px){
            #signUpBtn{
                width: 358px;
            }
        }

        @media screen and (max-width:1200px){
            #signUpBtn{
                width: 288px;
            }
        }

        

        @media screen and (max-width:900px){
            #signUpBtn{
                width: 358px;
                
            }
        }

        footer{
            background-color: gray;
            grid-area: footer;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            overflow: hidden;
            
        }

        #usingInfoBox{

            margin-top: 20px;
            margin-bottom: 70px;
            background-color: lightgrey;
            overflow: hidden;
        }

        #infoBoxText{
            margin-left: 10px;
        }

        #infoBoxText > p{
            font-size: 15pt;
        }

        .usingInfo{
            font-size: 10pt;
            white-space: pre;
            position: relative;
            transform: translateY(0%);
        }
            
        #signUpBtn{
            border: 1px solid black;
            border-radius: 10px;
            background-color: black;
            color: white;
            font-size: 12pt;
            margin-top: 10px;
            
        }

        #signUpBtn:hover{
            cursor: pointer;
        }

        @media screen and (max-width:700px){
            footer> div > img{
                display: none;
            }
        }

        .formErr{
            text-align: center;
            color: red;
            font-size: 10pt;
            margin-bottom: 4px;
        }
        
        .formErrtoggle {
            display: none;
        }

        @media screen and (max-width:839px){
            #orText{
                display: none;
            }
        }